.slick-slider {
  max-width: 33%;
}

.slick-slide {
  height: auto;
  padding-bottom: 70px;
}

.slick-slide img {
  height: auto;
  max-height: 500px;
}

.slick-thumb li {
  height: 70px;
  width: 70px;
}

.slick-thumb img {
  height: 70px;
  width: 70px;
}

.slick-arrow {
  background: black;
}

.slick-list {
  width: 100%;
}
