.main-content {
  margin: 7rem 0.5rem;
}

@media only screen and (min-width: 601px) {
  .main-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1060px) {
  .main-content {
    margin-top: 5rem;
  }
}
