.main-content {
  background-color: #f9f9f9;
}

.main-content {
  margin-top: 120px;
}

@media only screen and (min-width: 601px) {
  .main-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 960px) {
  .main-content {
    margin-top: 65px;
    padding-bottom: 150px;
  }
}
