* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p,
a {
  font-size: 16px;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  color: #484848;
  line-height: 1.43em;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

h4 {
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
